<div class="container" style="items-align">
  <h1>Créer un nouveau van</h1>
  <%= simple_form_for(@van) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="d-flex flew-row justify-content-center">
        <div class="form-inputs d-flex flex-column col-4">
          <div class="p-1">
            <%= f.input :name %>
          </div>
          <div class="p-1">
            <%= f.input :category %>
          </div>
          <div class="p-1">
            <%= f.input :description %>
          </div>
           <div class="p-1">
            <%= f.input :equipement %>
          </div>
        </div>
        <div class="form-inputs d-flex flex-column col-4">
          <% # <div class=""> %>
            <div class="p-1">
              <%= f.input :location %>
            </div>
            <div class="p-1">
              <%= f.input :seat %>
            </div>
            <div class="p-1">
              <%= f.input :price %>
            </div>
          <% # </div> %>
        </div>
      </div>
      <div class="row p-2">
            <%= f.input :photo, as: :file %>
          </div>
      <div class="form-button">
        <%= f.submit "Créer le van", class: "form-button-text" %>
      </div>
    <% end %>
</div>
