<%= render "shared/searchbar" %>
<div class="main-container">
  <h1>Liste des vans disponibles :</h1>

  <div class="index-container">
    <div class="row col-12">
      <div class="cards-index">
        <% @vans.each do |van| %>
          <%= link_to van_path(van) do %>
            <div class="card-trip">
              <% if van.photo.attached? %>
                <%= cl_image_tag van.photo.key %>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= van.name %></h2>
                  <p><%= van.description %></p>
                  <p><strong>Emplacement :</strong> <%= van.location %></p>
                  <p><strong>Nombre de places :</strong> <%= van.seat %></p>
                </div>
                  <h2 class="card-trip-pricing"><%= van.price %>€/jour</h2>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "Revenir à l'accueil", root_path %>
</div>
