<p id="notice"><%= notice %></p>

<h1>JC Van Van</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Place</th>
      <th>Adresse</th>
      <th>Disponibilité</th>
      <th>Prix</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vans.each do |van| %>
      <tr>
        <td><%= van.name %></td>
        <td><%= van.description %></td>
        <td><%= van.seat %></td>
        <td><%= van.location %></td>
        <td><%= van.date %></td>
        <td><%= van.price %></td>
        <td><%= van.image_url %></td>
        <td><%= link_to '', van %></td>
        <td><%= link_to 'Modifier', edit_van_path(van) %></td>
        <td><%= link_to 'Annuler', van, method: :delete, data: { confirm: 'Confirmer la supression' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if policy(Van).create? %>
  <%= link_to 'Louer mon Van', new_van_path %>
<% end %>
