
<p>
  <strong>Name:</strong>
  <%= @van.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @van.description %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @van.seat %>
</p>

<p>
  <strong>Location:</strong>
  <%= @van.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @van.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @van.price %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @van.image_url %>
</p>

<%= link_to 'Update my van', edit_van_path(@van) %>
<% if @van.bookings == [] %>
<%= link_to 'Delete my van', van_path(@van), method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
<p>You can't delete your van due to pending booking(s)</p>
<% end %>
<%= link_to 'Book this van', new_van_booking_path(@van) %>

<%= link_to 'Back', vans_path %>

<!-- link_to 'Ajouter un commentaire', new_van_review_path(@van)  -->
