<h1><%= @van.name %></h1>

<!-- Photo & principal information du véhicule -->
  <div class="card-trip-show p-3 mb-3">
  <% if @van.photo.attached? %>
    <%= cl_image_tag @van.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <%#= image_tag "image.jpg" %>
  <% end %>
    <div class="card-trip-infos">
      <div>
        <p><%= @van.category %></p>
        <p><%= @van.seat %> place(s)</p>
      </div>
      <h2 class="card-trip-pricing"><%= @van.price %>€/jour</h2>
    </div>
</div>

<div class="container-fluid align-items-start">
  <div class="row">

    <div class="van-infos col-6">
      <!-- description du véhicule -->
      <div class="card-product p-3 mb-3">
        <div class="card-product-infos">
          <h2>Description du véhicule</h2>
          <p><%= @van.description %></p>
        </div>
      </div>
      <!-- Adresse de départ et de retour -->
      <div class="card-product p-3 mb-3">
        <div class="card-product-infos">
          <h2>Adresse de départ et de retour</h2>
          <p> <%=@van.location %></p>
        </div>
      </div>
    </div>

    <!-- calendrier -->
    <div class="calendar col-6">
      <div class="card-product p-3 mb-3">
        <div class="card-product-infos">
          <h2>Disponibilité</h2>
          <p><%= @van.start_date %></p>
          <p><%= @van.start_date %></p>
          <%= link_to 'Louer ce van', new_van_booking_path(@van), class: "btn btn-primary w-100" %>
        </div>
      </div>
    </div>
</div>
<!-- retour vers index -->
<%= link_to 'Retour', vans_path %>







