<div class="container align-items-start">

  <h1><%= @van.name %></h1>

  <!-- Photo & principal information du véhicule -->

  <div class="card-trip-show p-3 mb-3">
  <img src="<%= @van.image_url %>"/>
  <div class="card-trip-infos">
    <div>
      <p><%= @van.category %></p>
      <p><%= @van.seat %> place(s)</p>
    </div>
    <h2 class="card-trip-pricing"><%= @van.price %>€/jour</h2>
  </div>
  <%= link_to 'Louer ce van', new_van_booking_path(@van), class: "btn btn-primary w-100" %>
</div>

<!-- description du véhicule -->

<div class="card-product p-3 mb-3">
  <div class="card-product-infos">
    <h2>Description du véhicule</h2>
    <p><%= @van.description %></p>
  </div>
</div>

<!-- Adresse de départ et de retour -->

<div class="card-product p-3 mb-3">
  <div class="card-product-infos">
    <h2>Adresse de départ et de retour</h2>
    <p> <%=@van.location %></p>
  </div>
</div>

<!-- calendrier -->

<div class="card-product p-3 mb-3">
  <div class="card-product-infos">
    <h2>Disponibilité</h2>
    <p><%= @van.date %></p>
  </div>
</div>

<!-- retour vers index -->
<div class="return_button">
  <%= link_to 'Retour', vans_path %>
</div>


<!-- IMPORTANT -->
<!-- une fois l'étape du dessus terminé, il faudra changer le display:flex + text-align -->
<!-- on doit changer le style du fichier CSS ie container car il y a eu des valeurs par défaut qui empêchent mes valeurs de s'appliquer  -->


