<!-- Photo & principal information du véhicule -->
  <div class="card-trip-show p-3 mb-3">
  <% if @van.photo.attached? %>
    <%= cl_image_tag @van.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <%#= image_tag "image.jpg" %>
  <% end %>
    <div class="card-trip-infos">
      <div>
        <h1><%= @van.name %></h1>
        <p class="tag bg-primary"><%= @van.category %></p>
        <p class="tag bg-danger"><%= @van.seat %> place(s)</p>
      </div>
      <h2 class="card-trip-pricing"><%= @van.price %>€/jour</h2>
    </div>
</div>

<div class="container-fluid align-items-start">
  <div class="row">
    <div class="col-8">
      <div class="van-infos">

        <div class="card-product p-3 mb-3">
          <!-- description du véhicule -->
          <div class="card-product-infos">
            <h2>Description du véhicule</h2>
            <p><%= @van.description %></p>
          </div>
          <!-- adresse de départ et de retour -->
          <div class="card-product-infos">
            <h2>Adresse de départ et de retour</h2>
            <p> <%=@van.location %></p>
          </div>
        </div>
      </div>
    </div>

    <!-- calendrier -->
    <div class="col-4">
      <div class="calendar">
        <div class="card-product p-3 mb-3 sticky-top">
          <div class="card-product-infos">
            <h2>Disponiblités</h2>
            <div id="van-booking-dates" data-unavailable='<%= @van.unavailable_dates.to_json %>'></div>
              <input type="text" id="availabilities" class="d-none">
            <%= link_to 'Réserver', new_van_booking_path(@van), class: "btn btn-primary w-100" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- retour vers index -->
<div class="container">
  <div class="title-card">
    <h3 id="" class="van-title"><%= link_to "Retour", vans_path %></h3>
  </div>
</div>







