<h1><%= @van.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @van.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @van.seat %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @van.location %>
</p>

<p>
  <strong>Disponibilités:</strong>
  <%= @van.date %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @van.price %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @van.image_url %>
</p>

<%= link_to 'Modifier mon van', edit_van_path(@van) %>
<% if @van.bookings == [] %>
<%= link_to 'Supprimer mon van', van_path(@van), method: :delete, data: { confirm: 'Tu es certain de vouloir supprimer?' } %>
<% else %>
<p>You can't delete your van due to pending booking(s)</p>
<% end %>
<%= link_to 'Louer ce van', new_van_booking_path(@van) %>

<%= link_to 'Retour', vans_path %>

<!-- link_to 'Ajouter un commentaire', new_van_review_path(@van)  -->
