<p id="notice"><%= notice %></p>

<h1>Ton booking summary</h1>

<p>
  <strong>Nom:</strong>
  <%= @van.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @van.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @van.seat %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @van.location %>
</p>

<p>
  <strong>Disponibilités:</strong>
  <%= @van.date %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @van.price %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @van.image_url %>
</p>

<%= link_to 'Annuler la location', booking_path(@booking), method: :delete, data: { confirm: 'Confirmer votre annulation?' } %>
<%= link_to 'Retour', vans_path %>
