<h1>Ton booking summary</h1>

<p>
  <strong>Name:</strong>
  <%= @van.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @van.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @van.seat %>
</p>

<p>
  <strong>Location:</strong>
  <%= @van.location %>
</p>

<p>
  <strong>Disponibilités:</strong>
  <%= @van.start_date %>
  <%= @van.end_date %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @van.price %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @van.photo %>
</p>

<%= link_to 'Annuler la réservation', booking_path(@booking), method: :delete, data: { confirm: 'Es-tu certain de vouloir annuler?' } %>
<%= link_to 'Retour', vans_path %>
