<!-- <p id="notice"><%= notice %></p> -->

<h1>Your booking summary</h1>

<p>
  <strong>Name:</strong>
  <%= @van.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @van.description %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @van.seat %>
</p>

<p>
  <strong>Location:</strong>
  <%= @van.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @van.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @van.price %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @van.image_url %>
</p>

<%= link_to 'Cancel booking', booking_path(@booking), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', vans_path %>
