<div class="navbar navbar-expand-md navbar-light navbar-lewagon">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/dj7ditlcu/image/upload/v1597150559/AIRBNB%20JCVD%20VAN/a5e19c44-99dc-4ebe-b323-d60fd2d199ae_200x200_1_deq6kr.png" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-items active">
            <%= link_to "Business", "#", class: "nav-link" %>
          </li>
          <li class="nav-items">
            <%= link_to "Se connecter", "#", class: "nav-link" %>
          </li>
          <li class="nav-rent">
            <%= link_to "Louer mon van", "#", class: "nav-link" %>
          </li>
        </ul>
      </div>
</div>
