<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
  <h1>JCVV</h1>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-items">
          <% if user_signed_in? %>
          <% else %>
          <li class="nav-rent">
          <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
          </li>
            <div class="dropdown-menu dropdown-menu-right">
            <%= link_to "Sign up", new_user_registration_path %>
            <%= link_to "Sign in", new_user_session_path %>
            </div>
          <% end %>
      </li>
      <% if user_signed_in? %>
      <li class="nav-dashboard">
        <%= link_to "Mon tableau de bord", dashboard_path, class: "nav-link" %>
      </li>
      <li class="nav-dashboard">
        <%= link_to "Sign out", destroy_user_session_path, class: "nav-link", method: "delete" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

