<div class="flex-row search-container">
    <div class="row col-9 search-row">
    <%= form_tag vans_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :location,
                         params[:location],
                         class: "form-control",
                         placeholder: "Départ" %>
      <%= select_tag(:seats,
                     options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7]],
                                        params[:seats]),
                     class: "form-control",
                     placeholder: "Nombre de places") %>
      <%= text_field_tag :start_date,
                         params[:start_date],
                         class: "form-control flatpickr",
                         placeholder: "Début de location" %>
      <%= text_field_tag :end_date,
                         params[:end_date],
                         class: "form-control flatpickr",
                         placeholder: "Fin de location" %>
      <%= submit_tag "Trouver un van", class: "form-button" %>
    <% end %>
    </div>
</div>
