<p> Bienvenue sur ton tableau de bord <strong> <%= @user.email %></strong> !</p>

   <%= link_to "Rajoutes ton van", new_van_path %>
<h2>Tes vans</h2>


<div class="cards">
<% @vans.each do |van| %>
  <div class="card-product">
    <img src="<%= van.image_url %>" />
    <div class="card-product-infos">
      <h2><%= van.name %></h2>
      <p><%= van.description %> <strong><%= van.price %> €</strong>.</p>
      <%= link_to "modifier mon van",   edit_van_path(van) %>
    </div>
  </div>
 <%  end  %>
</div>






<h2>Tes réservations</h2>

<div class="cards">
 <% @bookings.each do |booking| %>
  <div class="card-product">
    <img src="<%= booking.van.image_url %>" />
    <div class="card-product-infos">
      <h2><%= booking.date %></h2>
    </div>
  </div>
 <%  end  %>
</div>


<div class="container">
        <div class="title-card">
            <h3 id="" class="van-title"><%= link_to "Retour accueil", root_path %></h3>
        </div>
      </div>



<!-- modifs romain -->


<!-- @user = current_user
@vans = current_user.vans
@bookings = current_user.bookings -->
