<p> Bienvenue sur ton tableau de bord <strong> <%= @user.email %></strong> !</p>

<h2>Tes vans</h2>


<div class="cards">
<% @vans.each do |van| %>
  <div class="card-product">
    <img src="<%= van.image_url %>" />
    <div class="card-product-infos">
      <h2><%= van.name %></h2>
      <p><%= van.description %> <strong><%= van.price %> €</strong>.</p>
      <%= link_to "Modifier mon van",   edit_van_path(van) %>
    </div>
  </div>
 <%  end  %>
</div>

<div class="container">
        <div class="title-card ">
            <h4 id="" class="Add-van"><%= link_to "Rajouter un van", new_van_path %></h4>
        </div>
      </div>

<h2>Tes réservations</h2>

<div class="cards">
 <% @bookings.each do |booking| %>
  <div class="card-product">
    <img src="<%= booking.van.image_url %>" />
    <div class="card-product-infos">
      <h2><%= booking.start_date %></h2>
      <h2><%= booking.end_date %></h2>
    </div>
  </div>
 <%  end  %>
</div>


<div class="container">
        <div class="title-card">
            <h3 id="" class="van-title"><%= link_to "Retour accueil", root_path %></h3>
        </div>
      </div>



<!-- modifs romain -->


<!-- @user = current_user
@vans = current_user.vans
@bookings = current_user.bookings -->
