<div class="container">
  <h1>Voici tes vans :</h1>
</div>

<div class="index-container">
  <div class="row col-12">
    <div class="cards-index">
      <% @vans.each do |van| %>
        <div class="card-trip">
          <% if van.photo.attached? %>
            <%= cl_image_tag van.photo.key %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= van.name %></h2>
            <p>Description <%= van.description %></p>
            <p><strong><%= van.price %> €</strong>.</p>
            <%= link_to "Modifier mon van", edit_van_path(van) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="title-card ">
      <h4 id="" class="Add-van"><%= link_to "Rajouter un van", new_van_path %></h4>
  </div>
</div>

<h2 class="text-title">Prochaines réservations</h2>

<div class="cards">
 <% @bookings.each do |booking| %>
  <div class="card-product">
    <% if booking.van.photo.attached? %>
      <%= cl_image_tag booking.van.photo.key %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= booking.start_date %></h2>
      <h2><%= booking.end_date %></h2>
    </div>
  </div>
 <% end %>
</div>

<div class="container">
  <div class="title-card">
      <h3 id="" class="van-title"><%= link_to "Retour accueil", root_path %></h3>
  </div>
</div>