<div class="container">
  <h1>Let's roll again !</h1>

  <div class="container">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: "form-fields" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password", class: "form-fields" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-button">
      <%= f.button :submit, "Log in", class: "form-button-text" %>
    </div>
  <% end %>
  </div>
  <div class="container">
      <p>Don't have an account ? You can <%= render "devise/shared/links" %></p>
    </div>
</div>
