<!DOCTYPE html>
<html>
  <head>
    <title>JEANClaudeVanVan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>
    <%= link_to "logout", destroy_user_session_path, method: :delete %>
    <%= link_to "Login", new_user_session_path, method: :delete %>
    <p> <%= current_user %></p>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
